*{
    padding: 0%;
    margin: 0%;
    font-size: 13;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
}
.phpdiv{
    color: aqua;
    text-align: center;
}