.quanly-container {
  display: flex;
  width: 100%;
}

.left-panel {
  display: block;
  height: 95vh;
  width: 200px;
  min-width: 200px;
  border: solid thin bla;
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  transform-origin: bottom;
  display: grid;
  align-content: center;
}
.left-panel div {
  width: 100%;
  height: 50px;
}
.left-panel div a {
  line-height: 50px;
  display: block;
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
  padding-left: 10%;
}
.left-panel div:hover {
  background-color: black;
}
.left-panel div:hover a {
  color: white;
}

.right-content {
  display: grid;
  place-content: center;
  width: 100%;
  font-family: "Roboto", sans-serif !important;
}
.right-content .filter-wrapper {
  display: flex;
  width: 1000px;
  justify-content: center;
  justify-content: space-evenly;
  padding-bottom: 1em;
}
.right-content .filter-wrapper .filter {
  border: thin solid black;
  border-radius: 7px;
  padding: 0 1em;
  height: 3em;
  line-height: 3em;
}
.right-content .filter-wrapper .filter select {
  border: none;
  outline: none;
}
.right-content .filter-wrapper .add {
  background-color: #fff200;
  border: none;
  padding: 0 2em;
  text-decoration: none;
  color: black;
}
.right-content .filter-wrapper .search-wrapper {
  overflow-y: hidden;
}
.right-content .filter-wrapper .search-wrapper .search {
  border: none;
  outline: none;
}
.right-content .filter-wrapper .search-wrapper button {
  border: none;
  background: none;
}
.right-content form {
  height: 100%;
}
.right-content form table {
  max-width: 1000px;
  border-collapse: separate;
}
.right-content form table img {
  max-width: 100px;
}
.right-content form table thead tr th {
  border-bottom: none;
  border-bottom-width: none;
  border-bottom-style: none;
  border-bottom-color: none;
}
.right-content form table tbody tr input {
  background: transparent;
}
.right-content form table tbody tr .inpt {
  border: none;
  padding: 0.5em;
}
.right-content form table tbody tr .active-inpt {
  background-color: #000000;
  border-radius: 7px;
  color: white;
}
.right-content form table tbody tr .id {
  display: none;
}
.right-content form table tbody tr .update,
.right-content form table tbody tr .confirm,
.right-content form table tbody tr .delete {
  cursor: pointer;
}
.right-content form table tbody tr .confirm {
  visibility: hidden;
  background: none;
}
.right-content form table tbody tr .visible {
  visibility: visible;
}
.right-content form table tbody tr td {
  border-top: 1px solid #ddd;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(221, 221, 221);
  vertical-align: middle;
}
.right-content form table tbody tr td:nth-last-child(-n+4) {
  border-top: none;
  border-top-width: none;
  border-top-style: none;
  border-top-color: none;
}
.right-content form table tbody tr td input {
  width: 100%;
}

.center {
  margin: 0 auto;
  min-height: 95vh;
  height: 100%;
  width: 100%;
  max-width: 1300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center form {
  width: 100%;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.center form table {
  max-width: 1000px;
}
.center form table thead tr th {
  border-bottom: none;
  border-bottom-width: none;
  border-bottom-style: none;
  border-bottom-color: none;
}
.center form table tbody tr td {
  border-top: none;
  border-top-width: none;
  border-top-style: none;
  border-top-color: none;
}
.center form table textarea {
  width: 100%;
  height: 100px;
  resize: none;
}
.center form table input, .center form table select, .center form table textarea {
  border-radius: 7px;
  border: thin solid black;
  outline: none;
  padding: 0.5em;
}
.center form table .submit {
  background-color: black;
  color: white;
  margin: 0 0 10px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 0.5em 1em;
  border-radius: 7px;
  cursor: pointer;
}
.center .SP-img {
  width: 500px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}
.center .SP-img img {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=quanly.css.map */