.quanly-container {
    display: flex;
    width: 100%;
    // height: max-content;
}
.left-panel {
    display: block;
    height: 95vh;
    width: 200px;
    min-width: 200px;
    border: solid thin bla;
    position: sticky;
    top: 50px;
    transform-origin: bottom;
    display: grid;
    align-content: center;
    div {
        width: 100%;
        height: 50px;
        a {
            line-height: 50px;
            display: block;
            text-decoration: none;
            color: black;
            width: 100%;
            height: 100%;
            padding-left: 10%;
        }
        &:hover {
            a {
                color: white;
            }
            background-color: black;
        }
    }
}
.right-content {
    display: grid;
    place-content: center;
    width: 100%;
    font-family: "Roboto", sans-serif !important; //ITS MOT WORKING??????????????????
    .filter-wrapper {
        display: flex;
        width: 1000px;
        justify-content: center;
        justify-content: space-evenly;
        padding-bottom: 1em;
        .filter {
            border: thin solid black;
            border-radius: 7px;
            padding: 0 1em;
            height: 3em;
            line-height: 3em;
            select {
                border: none;
                outline: none;
            }
        }
        .add {
            background-color: #fff200;
            border: none;
            padding: 0 2em;
            text-decoration: none;
            color: black;
        }
        .search-wrapper {
            overflow-y: hidden;
            .search {
                border: none;
                outline: none;
                // background: none;
            }
            button {
                border: none;
                background: none;
            }
        }
    }
    form {
        height: 100%;
        table {
            max-width: 1000px; //
            border-collapse: separate;
            img {
                max-width: 100px;
            }
            thead {
                tr {
                    th {
                        border-bottom: none;
                        border-bottom-width: none;
                        border-bottom-style: none;
                        border-bottom-color: none;
                    }
                }
            }
            tbody {
                tr {
                    input {
                        background: transparent;
                        // text-overflow: ellipsis;
                    }
                    .inpt {
                        border: none;
                        padding: 0.5em;
                    }
                    .active-inpt {
                        // border: thin solid black !important;
                        background-color: #000000;
                        border-radius: 7px;
                        color: white;
                    }
                    // &:nth-child(even) {
                    //     display: none;
                    // }
                    .id {
                        display: none;
                    }
                    .update,
                    .confirm,
                    .delete {
                        cursor: pointer;
                    }
                    .confirm {
                        visibility: hidden;
                        background: none;
                    }
                    .visible {
                        visibility: visible;
                    }
                    td {
                        &:nth-last-child(-n + 4) {
                            border-top: none;
                            border-top-width: none;
                            border-top-style: none;
                            border-top-color: none;
                        }
                        border-top: 1px solid #ddd;
                        border-top-width: 1px;
                        border-top-style: solid;
                        border-top-color: rgb(221, 221, 221);
                        vertical-align: middle;
                        input {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
.center {
    margin: 0 auto;
    min-height: 95vh;
    height: 100%;
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
    form {
        width: 100%;
        height: min-content;
        table {
            
            max-width: 1000px;
            thead {
                tr {
                    th {
                        border-bottom: none;
                        border-bottom-width: none;
                        border-bottom-style: none;
                        border-bottom-color: none;
                    }
                }
            }
            tbody {
                tr {
                    td {
                        border-top: none;
                        border-top-width: none;
                        border-top-style: none;
                        border-top-color: none;
                    }
                }
            }
            textarea {
                width: 100%;
                height: 100px;
                resize: none;
            }
            input,select,textarea {
                border-radius: 7px;
                border: thin solid black;
                 outline: none;
                 padding: .5em;
            }
            .submit{
                background-color: black;
                color: white;
                margin: 0 0 10px;
                width: min-content;
                padding: 0.5em 1em;
                border-radius: 7px;
                cursor: pointer;
            }
        }
    }
    .SP-img {
        width: 500px;
        height: min-content;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
